<tr width="100%" height="60">
    <td valign="top" align="left" style="font-size: 11px; color: #252525; background: #EDEDED; padding: 5px 20px;">
        <table width="100%">
            <tr>
                <td width="60%" valign="top">
                    <p style="font: 12px/1.25em; color: #666;">
                        <em>mit freundlichen Grüßen,<br> Ihr dotHIV Team</em>
                    </p>

                    <p style="font: 12px/1.25em; color: #666;">
                        Sollten Sie Fragen in Zusammenhang mit dieser E-Mail haben, zögern Sie nicht,
                        sich an uns zu wenden: <a href="mailto:support@tld.hiv" style="color: #3d90b5;">support@tld.hiv</a>.
                    </p>
                </td>
                <td style="text-align: right;" width="40%" valign="top">
                    <p style="font: 12px/1.25em; color: #666;">TLD dotHIV Registry GmbH<br> Melchiorstra&szlig;e
                        26<br> 10179 Berlin</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
