<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body style="padding: 0; margin: 0;">
<table cellspacing="0" cellpadding="0" border="0" style="color: #333; background: #f0f0f0; padding: 0; margin: 0; width: 100%; font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;">
    <tbody>
    <tr width="100%">
        <td valign="top" align="left" style="background: #f8f8f8; font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;">
            <table style="border: none; padding: 0 18px; margin: 50px auto; width: 500px;">
                <tbody>

                <tr width="100%" height="60">
                    <td valign="top" align="left" style="font-size: 28px; font-weight: bold; color: #e00073; background: #fff; padding: 25px 18px; text-align: center;">
                        dotHIV Initiative
                    </td>
                </tr>

                {{ content }}

                {% include de-footer.html %}

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
