<!DOCTYPE html><!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                   click4life.hiv

-->
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                {{ content }}
                <p>-- <br> Kind regards,<br> your TLD dotHIV team</p>

                <p>If you have any questions regarding this email do not hesitate to contact us at support@tld.hiv.</p>

                <p>
                    TLD dotHIV Registry GmbH<br> Melchiorstrasse 26<br> D-10179 Berlin</p>

                <p>fon: +49 30 91 56 47 07<br> fax: +49 30 55 22 90 87 </p>

                <p>
                    Commercial Register: Amtsgericht Berlin (Charlottenburg) HRB 138864 B<br> Managing Director: Carolin
                    Silbernagl<br> VAT Reg.No.: DE281642661 </p>
            </blockquote>
        </div>
    </div>
</div>
</body>
</html>
