<!DOCTYPE html><!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                   click4life.hiv

-->
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                {{ content }}
                <p>-- <br> mit freundlichen Grüßen,<br> Ihr dotHIV Team</p>

                <p>Sollten Sie Fragen in Zusammenhang mit dieser E-Mail haben, zögern Sie nicht, sich an uns zu wenden: support@tld.hiv.</p>

                <p>TLD dotHIV Registry GmbH<br>
                Melchiorstraße 26<br>
                10179 Berlin</p>

                <p>fon: (0 30) 91 56 47 07<br>
                fax: (0 30) 55 22 90 87</p>

                <p>Handelsregister: Amtsgericht Berlin (Charlottenburg) HRB 138864 B<br>
                Geschäftsführerin: Carolin Silbernagl<br>
                USt-ID: DE281642661</p>
            </blockquote>
        </div>
    </div>
</div>
</body>
</html>
